body {
    background-color: grey;
    margin: 0;
    padding: 0;
    display: flex;
}
.splash img {
    height: 100vh;
    width: 35vw;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-content{
    position: relative;
    top: -5rem;
}