@font-face {
    font-family: NorseBold;
    src: url(font/Norse-Bold.otf);
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Regular.ttf);
}

*{
    font-family: Roboto;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1 1 80px;
    background-color: hsl(180, 50%, 98%);
}
.splash{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
.logo-background{
    justify-content: center;
    position: absolute;
    z-index: 1;
    margin-top: 15vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .50);
    display: flex;
}

.splash span {
    font-size: 1vw;
    color: white;
    position: absolute;
    z-index: 1;
    top:90vh;
    align-self: center;
}

.splash a{
    color: white;
}

.logo-background img {
    width: 25%;
}

.logo-background p{
    margin: 0;
    color: white;
    font-family: NorseBold;
    font-size: 8vw;
    align-self: center;
}

.splash > img{
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}

.main > div{
    padding-left: 3rem;
}

.hero-text {
    width: 35vw;
}

.hero-text, .footer-content {
    background-color: hsl(180, 50%, 98%);
}

.hero-text p{
    font-weight: bold;
}

.form-container{
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 8px 4px hsl(0, 0%, 90%);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.form-hero-text{
    position: relative;
    font-weight: bold;
    font-size: 1.5rem;
}

.form-row{
    display: flex;
    gap: 5rem;
    margin: 1.5rem 0rem;
}

.form-control label{
    font-size: .8rem;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
}

.form-control input {
    width: 13rem;
    height: 1.3rem;
    border: 2px solid #E5E7EB;
    border-radius: 4px;

}
.form-control input:focus{
    outline: none;
    border-color: rgb(150, 150, 255);
    box-shadow: 0px 2px 4px rgb(202, 202, 202);
}


.form-control {
    display: flex;
    flex-direction: column;
}

.footer-content{
    position: relative;
    bottom: 2rem;
}

.footer-content button{
    background-color: #596D48;
    border: 0px;
    width: 11rem;
    height: 3rem;
    border-radius: 5px;
    box-shadow: 0px 5px 5px hsl(0, 0%, 75%);
    font-family: Roboto;
    font-size: 1.025em;
    color: white;
}

.footer-content span{
    color: #596D48;
    font-weight: bold;
}

input[type="password"]:invalid{
    border-color: red;
}